

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
    width: 70%;
    margin: auto;
    font-family: "Cinzel", serif;
}
