:root {
    --bg_navbar: #333333;
    --c_font: #f2f2f2;
    --c_hover: #555555;
    --c_bar: #ffffff;
    --c_content: #636363;
    --content_hover: #797979;
}

@media (max-width: 480px) {

    body {
        width: 100%;
    }

    .container{
        height: 1980px;
    }

    .nav {
        display: none;
    }

    .navbar_logo img {
        width: 60px;
        height: 50px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #5F6F52;
        color: #000;
       
    }

    .navbar_logo {
        font-size: 1.5rem;
        margin: 0.5rem;
    }

    .navbar_links ul {
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    .navbar_links li {
        list-style-type: none;
    }

    .navbar_links a {
        text-decoration: none;
        color: #ccc;
        padding: 1rem;
        display: block;
    }

    .navbar_links a:hover,
    .dropdown:hover .drop_button {
        background-color: #B99470;
    }

    .dropdown .drop_button {
        font-size: 1rem;
        border: none;
        outline: none;
        background-color: inherit;
        padding: 1rem;
        color: inherit;
        cursor: pointer;
        margin: 0px;
    }

    .drop_content {
        display: none;
        position: absolute;
        background-color: var(--c_content);
        min-width: 130px;
        z-index: 1;
    }

    .drop_content a:hover {
        background-color: #797979;
    }

    .dropdown:hover .drop_content {
        display: block;
    }

    .navbar_button {
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .navbar_button .bar {
        height: 3px;
        width: 100%;
        background-color: var(--c_bar);
        border-radius: 10px;
        transition: 0.6s;
    }   

    .center-content {
        text-align: center;
      
        height: auto;
    }

    .item-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog {
        margin: 10px 0;
    }

    .blog a {
        text-decoration: none;
        color: #000;
    }

    .footer{
        bottom: a;
    }
  }

  /*Começa efeito do menu hamburguer*/

  .navbar_button {
    display: flex;
}

.navbar_links {
    display: none;
    width: 100%;
}

.navbar {
    flex-direction: column;
    align-items: flex-start;
}

.navbar_links ul {
    flex-direction: column;
    width: 100%;
}

.navbar_links li {
    text-align: center;
}

.navbar_links li a {
    padding: 1rem;
}

.navbar_links.active {
    display: flex;
}

.navbar_links.active .drop_content {
    position: relative;
}

.navbar_links.active .dropdown .drop_button {
    display: block;
    width: 100%;
}

#top,
#botton {
    transform-origin: left;
}

.navbar.active .navbar_button #top {
    transform: rotate(37deg);
    transition: 0.6s;
}

.navbar.active .navbar_button #center {
    opacity: 0;
    transition: 0.6s;
}

.navbar.active .navbar_button #botton {
    transform: rotate(-37deg);
    transition: 0.6s;
}


.footer{
    display: flex;
 }

.item-footer{
  
    display: block;
    justify-content: space-between;
  margin: 50px;
    

 }
