@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.sobre-nos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    background-color: rgb(223, 233, 228);

    align-items: center;
}

.item-sobre {
    width: 100%;
    height: max-content;
    background-color: rgb(203, 198, 207);
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    margin: 4px;
    justify-content: center;
}

.item-sobre h2,
h3 {
    text-align: center;
}

.item-sobre p {
    font-size: 20px;
    font-weight: 300;
}