@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.sobre-nos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    background-color: #ccc;
    align-items: center;
}

body{
    background-color: #afa7a7;
}

.item-sobre {
    width: 100%;
    height: max-content;
    background-color: rgb(203, 198, 207);
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    margin: 4px;
    justify-content: center;
}

.item-sobre h2,
h3 {
    text-align: center;
}

.item-sobre p {
    font-size: 20px;
    font-weight: 400;
}


@media (max-width: 480px) {

   

    .body {
        width: 100%;
        background-color: #840303;
    }
    .nav{display: none;}

    .container{
        height: 1980px;       
    }

   

    .navbar_logo img {
        width: 60px;
        height: 50px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #5F6F52;
        color: #000;
       
    }  }