@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #afa7a7;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    background-color: #ccc;
    align-items: center;
}

.item-sobre {
    width: 100%;
    height: max-content;
    background-color: #cbc6cf;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    margin: 4px;
    justify-content: center;
}

.item-sobre.historia {
    animation: ani01;
    animation-duration: 2s;
}
@keyframes ani01 {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.item-sobre.compromiso{
    animation: ani02;
    animation-duration: 3s;
}

@keyframes ani02{
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}










.item-sobre h2,
h3 {
    text-align: center;
}

.item-sobre p {
    font-size: 20px;
    font-weight: 400;
}


@media (max-width: 480px) {

   

    .body {
        width: 100%;
        background-color: #840303;
    }
    .nav{display: none;}

    .container{
        height: 1980px;       
    }

   

    .navbar_logo img {
        width: 60px;
        height: 50px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #5F6F52;
        color: #000;
       
    }  }