@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
    width: 70%;
    margin: auto;
    font-family: "Cinzel", serif;
}

.main {
    font-size: 30px;
    text-align: justify;
}

.nav {
    height: 260px;
    background-color: #5F6F52;
    padding: 10px;
}

.nav h1 {
    padding: 5px;
    font-size: 70px;
    margin-left: 40px;
    color: #ccc;
}

.menu ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.menu ul li {
    display: inline;
    margin: 15px;
    font-size: 35px;
    color: #ccc;
}

.menu ul li input {
   
    width: 120px;
    font-size: 24px;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 5px;   
    vertical-align: middle;
    color: #ccc;
}

.menu ul li:hover {
    background-color: #112818;
    border-radius: 8px;
    cursor: pointer;
}

/* Configuração do carrossel */
#carrossel {
    width: 100%;
    height: 300px;
}

.carousel-inner img {
    height: 300px
}

.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 28px;
    background-color: #000000a2;
    color: #ffffff;
    transition: 0.6s;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: #000000;
    transition: 0.6s;
}

.dot_box {
    text-align: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    background-color: #727385;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s;
}

.active,
.dot:hover {
    background-color: #e6e6e6;
    transition: 0.6s;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

/*TERMINA CARROSSEL*/
hr {
    height: 6px;
    background-color: #000000;
}

.card-horizontal .c1 {
    background-color: #A9B388;
}

.card-horizontal .c2 {
    background-color: #dbb045;
}

.c3 {
    background-color: #B99470;
}

/* Começa conteudo */

.container {
    display: flex;
    height: 800px;
    background-color: #f5d5d5;
}

.card-horizontal {
    flex-direction: column;
    height: 525px;
}

.card-horizontal .card {
    flex-direction: row; 
    display: flex;
    margin: 10px;
    width: 500px;
    height: 260px;
    border: none;
}

.card-horizontal .card img {
    margin-left: 15px;
    width: 250px;
    height: 200px;
    border-radius: 4px;
}

.card-horizontal .card p{
    text-align: center;
    margin: 5px;
}

.text-icone p {
    margin: 3px;
    justify-content: center;  
}

.card .text-icone p {
    margin-bottom: 10px; /* Um pequeno espaço entre o parágrafo */
}

.card .text-icone ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 2px; /* Espaço entre os elementos da lista */
}

.card .text-icone ul li {
    display: flex;
    align-items: center;

}

.card .text-icone ul li img {
    margin-right: 1px; /*Define o espaço entre as imagens da lista */
    width: 20px;
    height: 20px;
}

.card-vertical {
    width: 400px;
    height: 528px;
    margin: 10px;
    border-radius: 4px;
}



































/*
1920 x 1080px
1366 x 768