@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
    width: 70%;
    margin: auto;
    font-family: "Cinzel", serif;
}

.main {
    font-size: 30px;
    text-align: justify;
}

.nav {
    height: 260px;
    background-color: #5F6F52;
    padding: 10px;
}

.nav h1 {
    padding: 5px;
    font-size: 70px;
    margin-left: 40px;
}


.menu ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

.menu ul li {
    display: inline;
    margin: 20px;
    font-size: 36px;
}

.menu ul li input {
    font-size: 24px;
    height: 30px;
    /* Adjusted height */
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin-left: 10px;
    vertical-align: middle;
    /* Aligns input vertically */
}


.menu ul li:hover {
    background-color: #0f3b1c;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}

.menu ul li input {
    font-size: 24px;
    margin-left: 10px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 5px;
}

hr {
    height: 3px;
    background-color: #415948;
}

/* Começa conteudo */






































.card-vertical {
    display: flex;
    align-items: flex-start;
}


.card-vertical .box {
    margin-left: 10px;
    width: 300px;
    height: 624px;
}

.box1 {
    background-color: #A9B388;
}

.box2 {
    background-color: #d4ae50;
}

.box3 {
    background-color: #B99470;
}


/*
1920 x 1080px
1366 x 768