body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

    a {
        text-decoration: none;
    }
}

:root {
    --font-color: #ffffff;
    --header-color: #ccc;
    --color-fonte: #000000;
    --primary-color: #5F6F52;
    --secundary-color: #A9B388;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    padding: 0 20px;
    border: 1px solid var(--color-fonte);

    background-color: var(--header-color);
}

nav .nav-left {
    margin-left: 10px;
}

nav img {
    width: 40px;
    height: 35px;
}

nav a {
    text-decoration: none;
    color: var(--color-fonte);
    font-size: 20px;
}

.links-center {
    display: flex;
    gap: 80px;
}

.nav-right {
    font-size: 15px;
    margin-right: 30px;
    background-color: var(--primary-color);
    color: var(--font-color);
    width: 111px;
    height: 40px;
    border-radius: 4px;
    border: none;
    transition: 0.5s;
}

.nav-right:hover {
    background-color: var(--secundary-color);
    transition: 0.5s;
}

/* Começa o container do main */
.container-main {
    display: flex;
    position: relative;
    height: 600px;
    overflow: hidden;
}

.container-main img {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--font-color);
    z-index: 10;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.content button {
    width: 130px;
    height: 50px;
    background-color: var(--primary-color);
    border: none;
    color: var(--font-color);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.5s;
}

.content button:hover {
    background-color: var(--secundary-color);
    transition: 0.5s;
}

/* Section Collection */
.collection {
    height: 100%;
    background-color: var(--font-color);

}

.titulos {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 60px;
    border: 1px solid var(--color-fonte);
    gap: 85px;
}

.titulos a {
    color: var(--color-fonte);
    font-weight: bold;
}

.collection h2 {
    width: 656px;
    margin: 100px 0 0 64px;
    font-size: 48px;
}

.content-collection {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 50px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 380px;
    gap: 2px;
    border: 0.1px solid var(--color-fonte);
    border-radius: 2px;
}

.card img {
    width: 100%;
    height: 50%;
}

.card button {
    background-color: var(--font-color);
    justify-content: center;
    border: 0.1px solid var(--color-fonte);
    width: 120px;
    height: 28px;
    margin-bottom: 10px;
    height: 100%;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--color-fonte);
    background-color: var(--font-color);
    padding: 40px 0;
    margin-top: 15%;
    gap: 70px;
}

.footer-left {
    padding: 20px;
    width: 25rem; /* equivalente a 400px */
}

.footer-left p {
    font-size: 1rem;
}

.input-button {
    display: flex;
    gap: 0.625rem; /* 10px */
}

.input-button button {
    background-color: var(--font-color);
    border: none;
    border: 1px solid var(--color-fonte);
    width: 100%;
}

.input-button input {
    width: 16.875rem; /* equivalente a 270px */
    height: 1.75rem; /* 28px */
    border: 1px solid var(--color-fonte);
}

.footer-text {
    padding: 40px;
    text-align: center;
    width: 18.75rem; /* 300px */
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    color: var(--color-fonte);
    width: 18.75rem;
    padding: 40px;
}

.redes-sociais a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-fonte);
    margin: 5px 0;
}

.redes-sociais a img {
    width: 20px;
    height: 20px;
}
